/* importando as fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/*zerar as margens de todos os elementos da pagina.
margens externas e internas.*/

/*Vamos adicionar uma imagem ao fundo do header*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    height: 500px;
    background-image: url("../img/cafeteria2.jpg");
    /* Ajustar o tamanho da imagem em 100% de largura */
    background-size: 100%;
    /* Ajustar a posição da imagem em x e y */
    background-position: 0px -330px;
    padding: 10px;
}

nav{
    /* tornando o conteudo da nav flexivel. isso permite que os elementos
    fiquem um ao lado do outro. */
    display: flex;
    justify-content: space-between;
    /* Alinhamento vertical dos elementos que estao no nav */
    align-items: center;
}

h1{
    /* Mudar a cor da letra */
    color: white;
    /* Alterar o tipo de letra */
    font-family: fantasy;
    font-size: 40pt;
    /* Alterar o tamanho da caixa(alta ou baixa) */
    text-transform: uppercase;
    
}

ul{
    /* Tirar o marcador da lista */
    list-style: none;
}

header ul li{
    /* Vamos ajustar a disposição(display) dos itens
    da lista em formato de linha */
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
header ul li:hover{
    background-color: purple;
    padding: 4px;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-family: fantasy;
    text-transform: lowercase;
}

header h2{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family:"Dancing Script" ;
    font-size: 45pt;
    color: white;
    text-shadow: 0px 0px 10px black;
}

header p{
    font-family: "Ubuntu Sans Mono";
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    color: white;
    text-shadow: 0px 0px 10px black;
}

footer{
    background-color: rgb(95, 89, 75);
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: 20pt;
    padding-top: 50px;
    padding-left: 100px;
}

footer #rede li{
    /* colocar as redes em linhas */
    display: inline-block;
}

/* Formatação da pagina index */
main #home h2{
    font-family: "Dancing Script";
    margin: 35px;
    font-size: 30pt;
    color: rgb(0, 130, 150);
}

main p{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 40px 30px 40px;
    text-align: justify; /* Alinhar dos dois lados*/
    font-size: 14pt;
    /* o comando line-height define a altura da linha(espaçamento entre linhas). 
    Estamos usando com altura de 1,5, ou seja, o tamanho da fonte mais meio
    meio tamanho da fonte */
    line-height: 21pt;  
}
main #imghome img{
    width: 250px;
    height: 200px;
    /* Arredondar os cantos da imagem */
    border-radius: 40px;
    /* vamos aplicar um efeito de transparencia a imagem, usando
    o comando opacity que varia entre 0 e 1, ou seja, se você
    aplicar 0.6, significa que está usando 60% de opacidade.
    Isto representa 60% de visibilidade */
    opacity: 0.6;
        /* O comando transition pode realizar uma animação de
    transição, que você pode configurar o tipo de transição
    e o tempo da transição */
    transition: ease 2s;
}

main #imghome img:hover{
    opacity: 1;
}

main #imghome{
    text-align: center;
}